# For work with Django
SECRET_KEY=

# For debug with Django
DEBUG=

# For Database
NAME=
USERNAME=
#PASSWORD=
#HOST=


# Data for the custom command csu.py
CSU_EMAIL=
CSU_FIRST_NAME=
CSU_LAST_NAME=
CSU_PASSWORD=
